body{
    text-align: center;
    background-color: peachpuff;
}
.myHeading{
    color: rgb(242, 99, 64);
    padding: 2rem 2rem;
}
.myNavbar{
    text-align: center;
    padding: 0 170px;
}
.contact-body{
    background-image:url(images/cricImg.jpg);
}
.contact-div{
    color: rgba(230, 131, 69, 0.746);
    margin-top: 123px;
}
.contact-heading{
    color: rgb(170, 3, 142);
    font-weight:bolder;
}
.login-section{
    margin-top: 100px;
}
.goHome{
    color: brown;
}
.myCard{
    justify-content:center;
    margin-left: 400px;
    margin-top: 200px;
    padding: 100px 50px;
    background-color:rgba(240, 198, 161, 0.989);
    width: 50%;
    height: 50%;
}
.myCard1{
   
    margin-left: 500px;
    /* margin-top: 200px; */
    padding: 100px 50px;
    /* background-color:rgba(4, 105, 60, 0.989); */
    width: 30%;
    height: 30%;
}
.myLogo{
    position: fixed;
    left: 200px;
}
.mydivLogo{
    padding-top: 50px;
    padding-bottom: 50px;
}
.myNav{
    padding-left: 80%;
}
/* _____________________________________________________________________________ */
/* for mobile devices */
@media (max-width:575px){
    .home-image{
        width: 28rem;
        height: 28rem;
    }
    .contact-heading{
        color: rgb(170, 3, 142);
        margin-top: 10px;
        /* font-weight:bolder; */
    }
    .contact-div{
        color: rgba(230, 131, 69, 0.746);
        margin-top: 65px;
    }

    .login-section{
        margin-top: 100px;
    
    }
    .myCard1{
        position: relative;
        right: 80%;
    }
    .login-head{
        font-size: 1.5rem;
    }
    .myLogo{
        position: static;
        
    }

   
   
}